input[type='text'],
input[type='password'],
input[type='email'],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type='button'] {
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type='button']:hover {
    background-color: #2980b9;
}

.loginForm {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}
.leftBox {
    margin-top: 10px;
    margin-bottom: 10px;
}
.rightBox {
    min-height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 2px solid #2980b9;
    padding-left: 50px;
}
ul {
    list-style-type: none;
}
li {
    font-weight: bold;
}
li:before {
    content: '@  ';
    color: red;
    font-size: 36px;
    font-weight: bold;
}
/*For Grid Layout*/
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/*End of For Grid Layout*/
